body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d9f3f3;
    color: #333;
}

header {
    background-color: #ec9b76;
    color: rgb(19, 16, 16);
    padding: 22px 0;
    text-align: center;
}

main {
    padding: 20px;
}

h2 {
    color: #010701;
}

h3 {
    color: #010701;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}